<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>login page</title>
  </head>
  <body>





<form  action="#" method="post">

<label for="email">email :</label>
<input type="email" name="email" value=""><br>
<label for="password">password :</label>
<input type="password" name="password" value=""><br>

<button type="submit" >submit</button>
</form>

<% if (err) { %>
<p style="color:red"><%= err %></p>

<% } %>





  </body>
</html>
